:root {
    --bg-color: #fff;
    --bg-color-dark: #d9d9d9;
    --primary-color: #ddf00f;
    --secondary-color: #c86d50;
    --secondary-color-dark: #3f4d90;
    --text-color: #232323;
    --header-color: #545454;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}